@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    /*text-transform: capitalize;---velika slova na pocetku recenice*/
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 body{
    background: #eee;
 }
 
header {
    padding: 15px;
    background-color: #90928f;
    color: #680b80;
    text-align: left;
}


nav {
    padding: 3px;
    background-color: #680b80;
}

nav a {
    padding: 9px;
    text-decoration: none;
    color: #90928f;
}
nav a:hover {
    padding: 9px;
    text-decoration: none;
    color: red;
}

footer {
    padding: 1px;
    margin: 0px;
    background-color: #90928f;
    text-align: center;
    color: #680b80;
}

h1 {
    padding: 0px;
    margin: 0px;
}

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  p{
    color:crimson;
    font-size: 20px;
  }
  li{
    font-size: 20px;

  }
  b{
    color:blue;
  }

