@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 body{
    background: #eee;
 }
 
header {
    padding: 15px;
    background-color: #90928f;
    color: #680b80;
    text-align: left;
}


nav {
    padding: 3px;
    background-color: #680b80;
}

nav a {
    padding: 9px;
    text-decoration: none;
    color: #90928f;
}
nav a:hover {
    padding: 9px;
    text-decoration: none;
    color: red;
}

footer {
    padding: 1px;
    margin: 0px;
    background-color: #90928f;
    text-align: center;
    color: #680b80;
}

h1 {
    padding: 0px;
    margin: 0px;
}

div {
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    background-color: darkseagreen;
    color: #d9edc7;
}

.open-button {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 5px;
    right: 28px;
    width: 280px;
  }
  
  .form-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
